*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-main: #3161e0;
    --color-second:#23272a;
    --color-button: #f6f6f6;
    --color-text: #ffffff;
}
 *{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,sans-serif;
    color: #ffffff;
 }

.debug *{
    border: 1px dashed black;
    
}
.debug .green{
    background: green;
}

.debug .yellow{
    background-color: yellow;
}

.debug.blu{
    background-color: #23272a
}

.debug .main-intro{
    background-color: rgb(190, 234, 234);
}
.debug .finalfooter{
    background: red;
}

/*.debug{
    border: 1px dotted black;
}*/

/* end of comments debug */

.d-flex{
    display: flex;  
}

.container{
    width: 75%;
    margin: auto;
}

#search{
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

header{
    background-color: #3161e0;
    padding: .5rem 0;
}

header > div.d-flex.container{
    justify-content: space-between;
}

/* !first section */
.main-intro{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    background-image:url(../img/jumbo.png);
    background-size: cover;
}

.main-intro h1{
    text-align: center;
}

.main-intro p{
    text-align: center;
    font-size: 16px;
}

.call-action{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/*  !end first section */

nav{
    padding-top: 10px;
}


button{
    color:#23272a;
    text-decoration: solid;
    border-radius: 18px;
    border: none;
}

.b-enter{
    display: inline-block;
    border: none;
    border-radius: 6px;
    color:var(--color-second);
    border-bottom-style: none;
    text-decoration:none;
    font-weight: bold;
    padding-top: 8px;
    height: 35px;
    width: 80px;
}
a{
    text-decoration: none;
    color: #f6f6f6;
}

h1{
    padding-top: 115px;
    align-content: center;
    font-weight: 800;
    font-size: 4rem;


}

li{
    color: var(--color-text);
}

h4{
    color: var(--color-main);
}

.h3-color{
    color: #23272a;
    display: block; 
    font-size: 2em;    
}

.botton-personal{
    color: #23272a;
    font-weight: bold;
    height: 30px;
    width: auto;
}

.content-right{
    display: flex;
    background-color: #f6f6f6;
    padding: 30px;
    justify-content: space-between;
}

.content-left{
    display: flex;
    background-color: var(--color-button);
    padding: 30px;
    justify-content: space-between;
}

.intro{
    height: 100px;
   
}

.image{
    width: 60%;
    height: 100px;
}


 div .sentence{
        
    height: 100px;
    width: 200px;
}

.debug .last-section{
    background-color: #3161e0;
}
.last-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message{
    padding: 10px;
    width: 500px;
    height: 150px;
    justify-content: center;
    margin: 30px;
}


.last-title{
    justify-content:center;
    display: flex;
}

.debug .last-section div:nth-child(3){
    height: 50px;
    
}

.debug .last-section div:nth-child(4){
    height: auto;
}

.last-section div:nth-child(3){
    justify-content: center;
    background-color: var(--color-text);
}

.last-section div:nth-child(4){
    width: 500px;
    justify-content: center;
}

footer{
   margin: auto;
   background-color: #23272a;
}


ul{
    list-style-type: none; 
}

.logo-italia{
    display: inline-block;
    height: 14px;
}



.columns{
    display: flex;
    justify-content: space-between;
    width: 700px;
    
}

.column{
    width: 100px;
}

.column:first-child{
    width: 150px;
}

.finalfooter{
    display: flex; 
    justify-content: center;
}

.last-line{
    justify-content: space-between;
}